Web References/wsPP4G702FL/PP4G702FL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Bizentro.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.Bizentro.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Bizentro.com/">
      <s:import namespace="http://bizentro.com/DsPCancelClsProdOrder.xsd" />
      <s:import schemaLocation="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx?schema=DsPCancelClsProdOrder" namespace="http://bizentro.com/DsPCancelClsProdOrder.xsd" />
      <s:element name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvStrGlobalCollection" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://bizentro.com/DsPCancelClsProdOrder.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERSoapIn">
    <wsdl:part name="parameters" element="tns:cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER" />
  </wsdl:message>
  <wsdl:message name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERSoapOut">
    <wsdl:part name="parameters" element="tns:cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERResponse" />
  </wsdl:message>
  <wsdl:portType name="PP4G702FLSoap">
    <wsdl:operation name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER">
      <wsdl:input message="tns:cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERSoapIn" />
      <wsdl:output message="tns:cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDERSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PP4G702FLHttpGet" />
  <wsdl:portType name="PP4G702FLHttpPost" />
  <wsdl:binding name="PP4G702FLSoap" type="tns:PP4G702FLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER">
      <soap:operation soapAction="http://www.Bizentro.com/cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G702FLSoap12" type="tns:PP4G702FLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER">
      <soap12:operation soapAction="http://www.Bizentro.com/cPCnclClsProdOrd_P_CANCEL_CLS_PROD_ORDER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G702FLHttpGet" type="tns:PP4G702FLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PP4G702FLHttpPost" type="tns:PP4G702FLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PP4G702FL">
    <wsdl:port name="PP4G702FLSoap" binding="tns:PP4G702FLSoap">
      <soap:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G702FLSoap12" binding="tns:PP4G702FLSoap12">
      <soap12:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G702FLHttpGet" binding="tns:PP4G702FLHttpGet">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G702FLHttpPost" binding="tns:PP4G702FLHttpPost">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>