Web References/wsPP4G653FL/PP4G653FL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Bizentro.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.Bizentro.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Bizentro.com/">
      <s:import namespace="http://bizentro.com/DsPCancelProdGoodsReceipt.xsd" />
      <s:import schemaLocation="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx?schema=DsPCancelProdGoodsReceipt" namespace="http://bizentro.com/DsPCancelProdGoodsReceipt.xsd" />
      <s:element name="P_CANCEL_PROD_GOODS_RECEIPT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvStrGlobalCollection" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://bizentro.com/DsPCancelProdGoodsReceipt.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="P_CANCEL_PROD_GOODS_RECEIPTResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="P_CANCEL_PROD_GOODS_RECEIPTSoapIn">
    <wsdl:part name="parameters" element="tns:P_CANCEL_PROD_GOODS_RECEIPT" />
  </wsdl:message>
  <wsdl:message name="P_CANCEL_PROD_GOODS_RECEIPTSoapOut">
    <wsdl:part name="parameters" element="tns:P_CANCEL_PROD_GOODS_RECEIPTResponse" />
  </wsdl:message>
  <wsdl:portType name="PP4G653FLSoap">
    <wsdl:operation name="P_CANCEL_PROD_GOODS_RECEIPT">
      <wsdl:input message="tns:P_CANCEL_PROD_GOODS_RECEIPTSoapIn" />
      <wsdl:output message="tns:P_CANCEL_PROD_GOODS_RECEIPTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PP4G653FLHttpGet" />
  <wsdl:portType name="PP4G653FLHttpPost" />
  <wsdl:binding name="PP4G653FLSoap" type="tns:PP4G653FLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="P_CANCEL_PROD_GOODS_RECEIPT">
      <soap:operation soapAction="http://www.Bizentro.com/P_CANCEL_PROD_GOODS_RECEIPT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G653FLSoap12" type="tns:PP4G653FLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="P_CANCEL_PROD_GOODS_RECEIPT">
      <soap12:operation soapAction="http://www.Bizentro.com/P_CANCEL_PROD_GOODS_RECEIPT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G653FLHttpGet" type="tns:PP4G653FLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PP4G653FLHttpPost" type="tns:PP4G653FLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PP4G653FL">
    <wsdl:port name="PP4G653FLSoap" binding="tns:PP4G653FLSoap">
      <soap:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G653FLSoap12" binding="tns:PP4G653FLSoap12">
      <soap12:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G653FLHttpGet" binding="tns:PP4G653FLHttpGet">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G653FLHttpPost" binding="tns:PP4G653FLHttpPost">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>