Web References/wsPQIG280FL/PQIG280FL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Bizentro.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.Bizentro.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Bizentro.com/">
      <s:import namespace="http://bizentro.com/DsQMtInspResultSimpleSvr.xsd" />
      <s:import schemaLocation="http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx?schema=DsQMtInspResultSimpleSvr" namespace="http://bizentro.com/DsQMtInspResultSimpleSvr.xsd" />
      <s:element name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvStrGlobalCollection" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://bizentro.com/DsQMtInspResultSimpleSvr.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pvCommandSent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRSoapIn">
    <wsdl:part name="parameters" element="tns:cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR" />
  </wsdl:message>
  <wsdl:message name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRSoapOut">
    <wsdl:part name="parameters" element="tns:cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRResponse" />
  </wsdl:message>
  <wsdl:portType name="PQIG280FLSoap">
    <wsdl:operation name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR">
      <wsdl:input message="tns:cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRSoapIn" />
      <wsdl:output message="tns:cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PQIG280FLHttpGet" />
  <wsdl:portType name="PQIG280FLHttpPost" />
  <wsdl:binding name="PQIG280FLSoap" type="tns:PQIG280FLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR">
      <soap:operation soapAction="http://www.Bizentro.com/cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PQIG280FLSoap12" type="tns:PQIG280FLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR">
      <soap12:operation soapAction="http://www.Bizentro.com/cQMtInspResultSimple_Q_MT_INSP_RESULT_SIMPLE_SVR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PQIG280FLHttpGet" type="tns:PQIG280FLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PQIG280FLHttpPost" type="tns:PQIG280FLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PQIG280FL">
    <wsdl:port name="PQIG280FLSoap" binding="tns:PQIG280FLSoap">
      <soap:address location="http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PQIG280FLSoap12" binding="tns:PQIG280FLSoap12">
      <soap12:address location="http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PQIG280FLHttpGet" binding="tns:PQIG280FLHttpGet">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PQIG280FLHttpPost" binding="tns:PQIG280FLHttpPost">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>