Web References/wsPP4G409FL/PP4G409FL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Bizentro.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.Bizentro.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Bizentro.com/">
      <s:import namespace="http://bizentro.com/DsPCnclCnfmRsltByOprSvr.xsd" />
      <s:import schemaLocation="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx?schema=DsPCnclCnfmRsltByOprSvr" namespace="http://bizentro.com/DsPCnclCnfmRsltByOprSvr.xsd" />
      <s:element name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvStrGlobalCollection" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="I1_b_plant_plant_cd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://bizentro.com/DsPCnclCnfmRsltByOprSvr.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRSoapIn">
    <wsdl:part name="parameters" element="tns:cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR" />
  </wsdl:message>
  <wsdl:message name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRSoapOut">
    <wsdl:part name="parameters" element="tns:cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRResponse" />
  </wsdl:message>
  <wsdl:portType name="PP4G409FLSoap">
    <wsdl:operation name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR">
      <wsdl:input message="tns:cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRSoapIn" />
      <wsdl:output message="tns:cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PP4G409FLHttpGet" />
  <wsdl:portType name="PP4G409FLHttpPost" />
  <wsdl:binding name="PP4G409FLSoap" type="tns:PP4G409FLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR">
      <soap:operation soapAction="http://www.Bizentro.com/cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G409FLSoap12" type="tns:PP4G409FLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR">
      <soap12:operation soapAction="http://www.Bizentro.com/cPCnclCnfmRsltByOp_P_CNCL_CNFM_RSLT_BY_OPR_SVR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PP4G409FLHttpGet" type="tns:PP4G409FLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PP4G409FLHttpPost" type="tns:PP4G409FLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PP4G409FL">
    <wsdl:port name="PP4G409FLSoap" binding="tns:PP4G409FLSoap">
      <soap:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G409FLSoap12" binding="tns:PP4G409FLSoap12">
      <soap12:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G409FLHttpGet" binding="tns:PP4G409FLHttpGet">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx" />
    </wsdl:port>
    <wsdl:port name="PP4G409FLHttpPost" binding="tns:PP4G409FLHttpPost">
      <http:address location="http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>